{{ define "main" }}

  <div class="container">
    {{ range .Pages }}
    <div class="row">
      <div class="col-md-7">
        <a href="{{ .URL | relURL }}">
          <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>{{ .Title }}</h3>
        <h6 class="card-subtitle mb-2 text-muted">{{ .Date.Format "Jan 2, 2006" }}</h6>
        <p>{{ .Summary }}</p>
        <a class="btn btn-primary" href="{{ .URL | relURL }}">See all</a>
      </div>
    </div>
    <hr>
    {{ end }}
  </div>
  
{{ end }}
