{{ define "main" }}

  <div class="container">

    {{ if .Params.Subtitle }}
      <h2 class="font-weight-light font-italic mb-3">{{ .Params.Subtitle | markdownify }}</h2>
    {{ end }}
    <div class="row">
      <p class="col-lg-8 col-md-10 mx-auto text-muted mt-3">Published {{ .Date.Format "January 2, 2006" }}
      {{ range .Params.tags }}
        <a class="text-muted" href="{{ "/tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
      {{ end }}
      </p>

      <div class="col-lg-8 col-md-10 mx-auto">
        {{ .Content }}
      </div>
    </div>
  </div>

  {{ if or .Next .Prev }}
    <div class="bg-light py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center">
            {{ if .Prev }}
              Previous Post:
              <a href="{{ .Prev.URL | relURL }}">{{ .Prev.Title | markdownify }}</a>
            {{ end }}
          </div>
          <div class="col-md-6 text-center">
            {{ if .Next }}
              Next Post:
              <a href="{{ .Next.URL | relURL }}">{{ .Next.Title | markdownify }}</a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  {{ end }}

{{ end }}